# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
.venv/
env/
venv/
ENV/

# Home Assistant
.HA_VERSION
.homeassistant/

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

token.txt
test_fliprhub*.py
my_integration.json
patch1_integration.json
expected.txt
sorted.txt
new_sha.txt
pr_sha.txt
pr.patch
flipr.zip
_ha_test/
