# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
.venv/
env/
venv/
ENV/

# Home Assistant
.HA_VERSION
.homeassistant/

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
